var tableUtils = {
    isSelect: function (selectColIndex, selectRowIndex, curColIndex, curRowIndex) {

        if (selectColIndex == -1 && selectRowIndex == curRowIndex) {
            return true;
        }
        if (selectRowIndex == -1 && selectColIndex == curColIndex) {
            return true;
        }
        if (selectColIndex != -1 && selectRowIndex != -1 && selectColIndex == curColIndex && selectRowIndex == curRowIndex) {
            return true;
        }
        if (selectColIndex <= -1 && selectRowIndex <= -1) {
            return false;
        }
        return false;
    },

    getColumnLength: function (colName) {
        if (typeof colName == 'string' && colName.length != 0) {
            return colName.length;
        }
    }
}
module.exports = {
    isSelect: tableUtils.isSelect,
    getColumnLength: tableUtils.getColumnLength
}